/* Fade in
-------------------------------------------------------------- */
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    margin-bottom: 20px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes smoothFadeFromTop {
  0% {
    opacity: 0;
    margin-bottom: 10px;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes fadeFromTopRelative {
  0% {
    opacity: 0;
    top: -25px;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes smoothFadeFromTopRelative {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    margin-right: 10px;
  }

  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes fadeInWidthAnimation {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}


/* Fade out
-------------------------------------------------------------- */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutToTop {
  0% {
    bottom: 0;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    bottom: 150%;
    opacity: 0;
  }
}

@keyframes smoothfadeOutToTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-bottom: 10px;
  }
}

@keyframes fadeOutToRight {
  0% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 0.4;
    left: 90%;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}

@keyframes fadeOutWidthTransform {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
    width: 30%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes fadeOutToLeft {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    right: 100%;
  }
}

@keyframes fadeOutToLeftWidthTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 60%;
    width: 0;
  }
}

/* Other animations
-------------------------------------------------------------- */
@keyframes moveDown {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -20px;
  }
}

@keyframes widthAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes widthCloseAnimation {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}


/* Fire animation
-------------------------------------------------------------- */

@keyframes fadeSmallFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    width: 15px;
    opacity: 1;
  }
}

@keyframes fadeMediumFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    width: 22px;
    opacity: 1;
  }
}

@keyframes fadeBigFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    width: 30px;
    opacity: 1;
  }
}
