/* Fading keyframes
-------------------------------------------------------------- */
@keyframes fadeFromTop {
  0% {
    opacity: 0;
    margin-bottom: 25px;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes smoothFadeFromTop {
  0% {
    opacity: 0;
    margin-bottom: 10px;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes fadeFromTopRelative {
  0% {
    opacity: 0;
    top: -25px;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes smoothFadeFromTopRelative {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    margin-bottom: 20px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    margin-right: 10px;
  }

  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes fadeOutToRight {
  0% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 0.4;
    left: 90%;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}

@keyframes fadeOutToTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-bottom: 10px;
  }
}

@keyframes slideOutToTop {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 200%;
  }
}

@keyframes moveDown {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -20px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutWidthTransform {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
    width: 30%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes widthAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Fire animation
-------------------------------------------------------------- */

@keyframes fadeSmallFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    width: 15px;
    opacity: 1;
  }
}

@keyframes fadeMediumFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    width: 22px;
    opacity: 1;
  }
}

@keyframes fadeBigFire {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    width: 30px;
    opacity: 1;
  }
}
