@import './../helpers/variables';
@import './../helpers/mixins';

/* Balloon
-------------------------------------------------------------- */
.balloon {
  position: absolute;
  top: 50%;
  right: 5%;
  height: 80%;
  width: 45%;
  opacity: 0;
  transform: translateY(-50%);

  .animation-start & {
    animation: $duration $cubic-brazier $duration-normal 1 normal forwards fadeFromLeftCenter;
  }

  /* Balloon background image
  -------------------------------------------------------------- */
  &__bckg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    @include background-2x('./../../../assets/images/stars', 'png', 100%, 100%, center bottom, no-repeat);

    .animation-start & {
      animation: $duration $cubic-brazier $duration-normal 1 normal forwards fadeFromLeft;
    }

    .animation-ended & {
      opacity: 1;
      animation: $duration ease-in $delay-end 1 normal forwards fadeOutToLeft;
    }
  }

  /* Balloon images
  -------------------------------------------------------------- */
  &__img {
    position: absolute;
    opacity: 0;

    /* Balloon image
    -------------------------------------------------------------- */
    &--balloon {
      bottom: 10%;
      width: 370px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      @media #{$media-lg}{
        width: 430px;
      }

      @media #{$media-lg-xl}{
        width: 75%;
      }

      .animation-start & {
        animation: $slide-from-top-duration ease-in $duration*4 1 normal forwards fadeFromTopCenter;
      }

      .animation-ended & {
        opacity: 1;
        animation: $duration ease-in $delay-end 1 normal forwards fadeOut;
      }
    }
  }

  /* Balloon clouds
  -------------------------------------------------------------- */
  &__clouds {
    img{
      position: absolute;
      opacity: 0;
    }
  }

  /* Wrapper of balloon image and fire images
  -------------------------------------------------------------- */
  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    .animation-balloon-out & {
      animation: 4.5s $cubic-ease-in $balloon-out-delay 1 normal forwards fadeOutToTop;
    }
  }

  /* Fire images
  -------------------------------------------------------------- */
  &__fire {
    position: absolute;
    left: 50%;
    bottom: 33%;
    width: 40px;
    height: 50px;
    transform: translateX(-50%);
    z-index: 9;

    @media #{$media-lg-xl}{
      bottom: 30%;
    }
  }
}
