@import './../helpers/variables';

/* Cloud images
-------------------------------------------------------------- */
.cloud-img {
  position: absolute;
  transform: translate(0, 0);
  transition: transform 0.3s linear;

  &--left {
    left: -25%;
    bottom: 0;
    width: 70%;
  }

  &--right {
    right: -40%;
    bottom: -25%;
    width: 95%;
  }

  &--behind {
    bottom: 30%;
    right: 6%;
    width: 35%;
    z-index: 1;
  }
}
