
.main-content {
  position: relative;
  display: flex;
  align-self: center;
  width: 0;
  max-width: 100%;
  height: 650px;

  @media #{$media-lg}{
    height: 90vh;
    min-height: 700px;
  }

  @media #{$media-lg-xl}{
    height: 955px;
  }

  &.animation-start {
    animation: $duration-normal $cubic-brazier 0s 1 normal forwards widthAnimation;

    &:after{
      animation: $duration-normal $cubic-brazier 0s 1 normal forwards fadeInWidthAnimation;
    }
    &:before {
      animation: $duration ease-in $delay 1 normal forwards show;
    }
  }

  &:before{
    position: absolute;
    content: '';
    width: calc((45% / 2) + 5%); //half of balloon background + right margin
    height: 100%;
    right: 0;
    top: 0;
    border-top-right-radius: $radius-base;
    border-bottom-right-radius: $radius-base;
    opacity: 0;
    z-index: 0;
    @include gradient($bay-blue, $cerulean-blue);

    .animation-ended & {
      opacity: 1;
      right: 0;
      animation: $duration-fast ease-in $delay-end 1 normal forwards fadeOutToLeftWidthTransform;
    }
  }

  &:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: $radius-base;
    opacity: 0;
    z-index: -1;
    @include gradient($athens-gray, #fff);

    .animation-ended & {
      width: 100%;
      opacity: 1;
      animation: $duration linear $delay-end 1 normal forwards fadeOutWidthTransform;
    }
  }

  &__nav {
    background-color: white;
    width: 80px;
    border-right: 1px solid $mischka-gray;
    border-top-left-radius: $radius-base;
    border-bottom-left-radius: $radius-base;
    opacity: 0;

    .animation-start & {
      animation: $duration ease-in $delay 1 normal forwards show;
    }

    .animation-ended & {
      opacity: 1;
      animation: $duration ease-in $delay-end 1 normal forwards fadeOut;
    }
  }

  &__article {
    position: relative;
    width: calc(70% - 80px);
    margin: 70px 25px;
    opacity: 0;

    @media #{$media-lg}{
      margin: 80px 40px;
    }

    @media #{$media-lg-xl}{
      margin: 100px 60px;
    }

    .animation-start & {
      animation: $duration ease-in $delay 1 normal forwards show;
    }

    .animation-ended & {
      opacity: 1;
      overflow-x: hidden;
      animation: $duration ease-in $delay-end 1 normal forwards fadeOutWidthTransform;
    }
  }

  &__img {
    position: relative;
    height: 20px;

    .logo {
      position: absolute;
      display: block;
      bottom: 0;
      opacity: 0;

      .animation-start & {
        animation: $duration-fast ease-in $delay 1 normal forwards smoothFadeFromTop;
      }
    }
  }

  &__aside {
    opacity: 1;
  }
}


