
.main-content {
  position: relative;
  display: flex;
  align-self: center;
  border-radius: $radius-base;
  width: 0;
  max-width: 100%;
  height: 90vh;
  max-height: 650px;
  @include gradient($athens-gray, #fff);

  @media #{$media-lg}{
    height: 90vh;
    min-height: 700px; //set min-height to prevent small height on resize window
    max-height: 955px;
  }

  @media #{$media-lg-xl}{
    height: 955px;
  }

  &.animation-start {
    animation: $duration-normal $cubic-brazier 0s 1 normal forwards widthAnimation;
  }

  .animation-ended & {
    width: 100%;
    animation: $duration linear $delay-end 1 normal forwards fadeOutWidthTransform;
  }

  &__nav {
    background-color: white;
    width: 80px;
    border-right: 1px solid $mischka-gray;
    border-top-left-radius: $radius-base;
    border-bottom-left-radius: $radius-base;
    opacity: 0;

    .animation-start & {
      animation: $duration ease-in $delay 1 normal forwards show;
    }

    .animation-ended & {
      opacity: 1;
      animation: $duration ease-in $delay-end 1 normal forwards fadeOut;
    }
  }

  &__article {
    position: relative;
    width: calc(70% - 80px);
    margin: 70px 40px;
    opacity: 0;

    @media #{$media-lg}{
      margin: 80px 40px;
    }

    @media #{$media-lg-xl}{
      margin: 100px 60px;
    }

    .animation-start & {
      animation: $duration ease-in $delay 1 normal forwards show;
    }

    .animation-ended & {
      opacity: 1;
      overflow-x: hidden;
      animation: $duration ease-in $delay-end 1 normal forwards fadeOutWidthTransform;
    }
  }

  &__img {
    position: relative;
    height: 20px;

    .logo {
      position: absolute;
      display: block;
      bottom: 0;
      opacity: 0;

      .animation-start & {
        animation: $fast-duration ease-in $delay 1 normal forwards smoothFadeFromTop;
      }
    }
  }

  &__aside {
    width: 30%;
    border-top-right-radius: $radius-base;
    border-bottom-right-radius: $radius-base;
    opacity: 1;
    //@include gradient($bay-blue, $cerulean-blue);

  }
}


